.introContainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.introContent { /* ✅ 클래스명 통일 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.introImage {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a; 
}